In [1]:
import numpy as np
import pandas as pd
import scipy as sp

import seaborn as sns
from matplotlib import pyplot as plt
import networkx as next

import neuprint as npt
from neuprint import NeuronCriteria as NC
from neuprint import SynapseCriteria as SC

In [2]:
TOKEN = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6Im1hcmsucGxpdHRAYmVya2VsZXkuZWR1IiwibGV2ZWwiOiJub2F1dGgiLCJpbWFnZS11cmwiOiJodHRwczovL2xoMy5nb29nbGV1c2VyY29udGVudC5jb20vYS9BQ2c4b2NKXzBBZkVTeHQ1Z1l3UF9Nazh6WVlNMjVtWFVuNkFtTTNaamt2UlNkNFVQSVVCVnc9czk2LWM_c3o9NTA_c3o9NTAiLCJleHAiOjE5MjM4MTQyNjV9.rbElODhjC25E7MQDPxKHDnypmjri7q4zEdJbz7xOkGY'
DATASET = 'hemibrain:v1.2.1'

c = npt.Client('neuprint.janelia.org', dataset=DATASET, token=TOKEN)

In [ ]:
ring_query = NC(type=['ER4d'], inputRois=['EB'])
ring_neurons_df, ring_roicounts_df = npt.fetch_neurons(ring_query)

# get exr2 synapse locations

# exr2_synapses = npt.fetch_synapses(ring_neurons_df['bodyId'].unique(), SC(rois=['EB'], type='pre', primary_only=True))

  0%|          | 0/3 [00:00<?, ?it/s]

In [ ]:
epg_query = NC(type=['EPG'], inputRois=['EB'])
# neuron_df, conn_df = npt.fetch_adjacencies(ring_query, epg_query, rois=['EB'])
epg_conn_df = npt.fetch_synapse_connections(source_criteria=ring_query, target_criteria=epg_query)
epg_conn_df.head()

  0%|          | 0/10010 [00:00<?, ?it/s]

,bodyId_pre,bodyId_post,roi_pre,roi_post,x_pre,y_pre,z_pre,x_post,y_post,z_post,confidence_pre,confidence_post
0,1167295853,912545106,EB,EB,22364,27044,22014,22345,27033,22009,0.972,0.883859
1,1167295853,912545106,EB,EB,22507,26380,22479,22492,26373,22471,0.936,0.990586
2,1167295853,912545106,EB,EB,22384,25389,22217,22395,25386,22186,0.912,0.523398
3,1167295853,912545106,EB,EB,22266,26866,22225,22263,26830,22210,0.967,0.456425
4,1167295853,912545106,EB,EB,22099,25462,21711,22147,25480,21733,0.979,0.590715

In [ ]:
exr2_query = NC(type=['ExR2'])

In [8]:

for _, row in ring_neurons_df.iloc[:1].iterrows():
    # get skeleton for each er4d
    # get skeleton
    skeleton_df = npt.fetch_skeleton(row['bodyId'], format='pandas', heal=True, with_distances=True)
    skeleton_us_df = npt.upsample_skeleton(skeleton_df, 1/8)
    r4d_mask = conn_df['bodyId_pre'] == row['bodyId']
    r4d_conn_df = conn_df[r4d_mask]
    er4d_synapses =  pd.DataFrame({'bodyID': r4d_conn_df['bodyId_pre'],
                                    'x': r4d_conn_df['x_pre'],
                                    'y': r4d_conn_df['y_pre'],
                                    'z': r4d_conn_df['z_pre'],
                                    'confidence': r4d_conn_df['confidence_pre'],
                                    'roi': r4d_conn_df['roi_pre']})
    
    er4d_synapses['type'] = 'pre'
    skel_syn_df = npt.attach_synapses_to_skeleton(skeleton_us_df, er4d_synapses)

    exr2_closest_points = []
    for i, row in exr2_synapses.iterrows():
        diff = (skel_syn_df[['x', 'y', 'z']].to_numpy() - row[['x', 'y', 'z']].to_numpy()).astype(float)

        dist_to_exr2 = np.linalg.norm(diff, axis=1)

        sort = np.argmin(dist_to_exr2)
        if dist_to_exr2[sort] < 300/8:
            exr2_closest_points.append(i)
            skel_syn_df.loc[sort, 'type'] = 'exr2'

        
    

# er4d_synapses.head()

In [7]:
skel_syn_df.head()

   rowId        x        y        z     radius  link structure type
0      1  29110.0  24562.0  18404.0  12.000000    -1   neurite  NaN
1      2  29102.0  24546.0  18396.0  18.627399  5016   neurite  NaN
2      3  29070.0  24546.0  18396.0  12.000000  5172   neurite  NaN
3      4  29030.0  24554.0  18420.0  20.000000  5427   neurite  NaN
4      5  29006.0  24562.0  18436.0  20.000000  5805   neurite  NaN

In [ ]:
skel_syn_nx = npt.skeleton_df_to_nx(skeleton_us_df, directed=False, with_distances=True)

In [14]:
import sys
sys.getsizeof(skel_syn_nx)

56

In [16]:
skel_syn_nx.nodes[1]

{'x': 29110.0, 'y': 24562.0, 'z': 18404.0, 'radius': 12.0}

In [17]:
skel_syn_df.head()

   rowId        x        y        z     radius  link structure
0      1  29110.0  24562.0  18404.0  12.000000    -1   neurite
1      2  29102.0  24546.0  18396.0  18.627399  5016   neurite
2      3  29070.0  24546.0  18396.0  12.000000  5035   neurite
3      4  29030.0  24554.0  18420.0  20.000000  5066   neurite
4      5  29006.0  24562.0  18436.0  20.000000  5113   neurite